{% extends "index.html"%}
{% load static %}

{% block main %}
    <div class="row">
        <!-- Buscar por Cedula-->
        <div class="col-sm-4 ">
        <div class="card m-1 p-2">

            <form action="/buscar_cedula/"  method="GET">
                <h5 class="page-section-sub-heading text-left  text-uppercase text-secondary mb-4">Buscar por Cédula:  </h5>
                <input class="form-control" id="ced" name="ced" type="text" placeholder="Cédula de identidad" required="required" data-validation-required-message="Please enter your cédula." />
                <p class="help-block text-white"></p>
                <button class="btn btn-primary btn-xl" id="btn_buscar_cedula" type="submit" value="Buscar">Buscar</button>
            </form> 
        </div>
        </div>
        <!-- Tabla de Resultados por Cedula-->
        <div class="col-sm-8">           
            <h2 class="page-section-sub-heading text-center text-uppercase text-secondary mb-0">Realice su Búsqueda{{query}}</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </div>
{% endblock %} 

 


