{% extends "index.html"%}
{% load static %}

{% block main %}

<div>
    <div class="row">
        <!-- Buscar por Nombre-->
        <div class="col-sm-4">
            <div class="card p-2">
                <form action="/buscar_mapa/"  method="GET"> 
                    <h5 class="page-section-sub-heading text-left  text-uppercase text-secondary mb-4">Buscar en el Mapa:  </h5>
                    <input class="form-control" id="nom" name="nom" type="text" placeholder="Nombres y/o Apellidos" required="required" data-validation-required-message="Please enter your nombres y/o apellidos." />
                    <p class="help-block text-white"></p>
                    <select  class="form-control" id="est" name="est" type="text" required="required" data-validation-required-message="Please enter your estado.">
                        <option value="">Seleccione el Estado o País</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="amazonas">Amazonas</option>
                        <option value="anzoategui">Anzoátegui</option>
                        <option value="aragua">Aragua</option>
                        <option value="apure">Apure</option>
                        <option value="barinas">Barinas</option>
                        <option value="bolivar">Bolívar</option>
                        <option value="carabobo">Carabobo</option>
                        <option value="cojedes">Cojedes</option>
                        <option value="amacuro">Delta Amacuro</option>
                        <option value="dependencias federales">Dependencias Federales</option>
                        <option value="capital">Distrito Capital</option>
                        <option value="falcon">Falcón</option>
                        <option value="guarico">Guárico</option>
                        <option value="vargas">La Guaira</option>
                        <option value="Lara" >Lara</option>
                        <option value="merida">Mérida</option>
                        <option value="miranda" >Miranda</option>
                        <option value="monagas">Monagas</option>
                        <option value="portuguesa">Portuguesa</option>
                        <option value="esparta">Nueva Esparta</option>
                        <option value="sucre">Sucre</option>
                        <option value="tachira">Táchira</option>
                        <option value="trujillo">Trujillo</option>
                        <option value="yaracuy">Yaracuy</option>
                        <option value="zulia">Zulia</option>
                    </select>
                    <p class="help-block text-white"></p>    
                    <button class="btn btn-primary btn-xl" id="btn_buscar_nombre" type="submit" value="Buscar">Buscar</button>
                </form> 
            </div>
        </div>
        <!-- Tabla de Resultados por Cedula-->
        <div class="col-sm-8">           
            <h2 class="page-section-sub-heading text-center text-uppercase text-secondary mb-0">Realice su Búsqueda{{query}}</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
{% endblock %} 

 




